@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

section {
    padding: 100px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(grey.jpeg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2 {
    font-size: 3em;
    color: white;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3 {
    font-size: 1.5em;
    color: white;
    font-weight: 500;
}
.btn {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    margin: 10px;
    margin-left: 0;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 20px; /*edit*/
}
.btn1 {
    color: #3498db;
    z-index: 1; /*edit*/
}
.btn1:hover {
    color: #fff;
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(to right, #fc5c7d, #6a82fb);
    z-index: -1;
    transition: 0.8s;
}
.btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn1:hover::before {
    height: 180%;
}







header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky {
    background: rgb(173, 127, 127);
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
.modOne {
    font-weight: 150;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: white;
    text-decoration: none;
}
.modTwo {
    font-weight: bold;
}


/* -------------------------social media buttons-------------------- */
.social-media-buttons {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    /* float: left; */
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}
.wrapper .button:hover {
    width: 200px;
}
.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}
.wrapper .button:nth-child(1):hover .icon {
    background: #3b5998;
}
.wrapper .button:nth-child(2):hover .icon {
    background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon {
    background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon {
    background: #333;
}
.wrapper .button:nth-child(5):hover .icon {
    background: #0e76a8;
}
.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;   
    transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
    color: #fff;
}
.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}


/* -------------------------------about me------------------------ */














/* --------------------------------footer------------------------------------ */
.footer {
    background: #fcfcfc;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    background: #111;
    height: auto;
    width: 100w;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: #fff;
}
.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i {
    color: aqua;
}
.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span {
    opacity: .4;
    font-weight: 200;
}

/* -------------------------------MD Queries------------------------ */

@media (max-width: 600px) {
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
  header ul {
    display: none;
  }
  .textBx {
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
  }
  .textBx h3 {
    margin-top: 1rem;
  }
  .footer-bottom p {
    font-size: 12px;
  }
}
